 /*Extra small devices (portrait phones, less than 576px)*/
 @media (max-width: 575.98px) {
    .btn_div ul li {
        padding: 6px 0px;
        margin: 8px 7px;
        width: 130px;
    }

     .boom_logo a img {
         width: 40%;

     }
     .heading1 {
       font-size: 20px;
    }
    
    .heading2 {
        font-size: 20px;
    }
     .footer_logo a img {
         width: 40%;
     }

     .footer_div p {
         font-size: 15px;
         text-align: center;
         margin-left: 0;
         padding-top: 0;
     }

     .main_div {
         padding-top: 60px;
     }
     .main_content {
        height: 80vh;
        position: relative;
    }
    footer {
        height: 20vh;
    }
    .heading1 {
        margin-bottom: 20px;
    }
     .bouble:nth-child(1) {
        left: 0;
        width: 40px;
        height: 40px;
        animation-duration: 6s;
        animation-delay: 1s;
    }
   
    .bouble:nth-child(2) {
        left: 10%;
        width: 25px;
        height: 25px;
        background-color: #3AB54A;
        animation-duration: 7s;
        animation-delay: 2s;
    }
    
    .bouble:nth-child(3) {
        left: 30%;
        width: 30px;
        height: 30px;
        background-color: #12A89D;
        animation-duration: 8s;
        animation-delay: 1s;
    }
    
    .bouble:nth-child(4) {
        left: 15%;
        width: 40px;
        height: 40px;
        background-color: #EE4037;
        animation-duration: 8s;
        animation-delay: 4s;
    }
    
    .bouble:nth-child(5) {
        left: 5%;
        width: 10px;
        height: 10px;
        background-color: #F7941D;
        animation-duration: 9s;
        animation-delay: 1s;
    }
    
    .bouble:nth-child(6) {
        left: 65%;
        width: 50px;
        height: 50px;
        background-color: #ffffff;
        animation-duration: 14s;
        animation-delay: 1s;
    }
    
    .bouble:nth-child(7) {
        left: 35%;
        width: 10px;
        height: 10px;
        background-color: #12A89D;
        animation-duration: 15s;
        animation-delay: 1s;
    }
    
    .bouble:nth-child(8) {
        left: 75%;
        width: 40px;
        height: 40px;
        background-color: #12A89D;
        animation-duration: 9s;
        animation-delay: 2s;
    }
    
    .bouble:nth-child(9) {
        left: 5%;
        width: 60px;
        height: 60px;
        background-color: #EE4037;
        animation-duration: 20s;
        animation-delay: 3s;
    }
    
    .bouble:nth-child(10) {
        left: 50%;
        width: 60px;
        height: 60px;
        background-color: #F7941D;
        animation-duration: 12s;
        animation-delay: 5s;
    }
    
    .bouble:nth-child(11) {
        left: 35%;
        width: 30px;
        height: 30px;
        background-color: #ffffff;
        animation-duration: 12s;
        animation-delay: 6s;
    }
    
    .bouble:nth-child(12) {
        left: 85%;
        width: 15px;
        height: 15px;
        background-color: #12A89D;
        animation-duration: 10s;
        animation-delay: 6s;
    }
    
    .bouble:nth-child(13) {
        left: 0;
        width: 20px;
        height: 20px;
        background-color: #EE4037;
        animation-duration: 10s;
        animation-delay: 6s;
    }
 }

 /*Small devices (landscape phones, 576px and up)*/
 @media (min-width: 576px) and (max-width: 767.98px) {
    .main_content {
        height: 80vh;
    }
    footer {
        height: 20vh;
    }
    .main_div{
        padding-top: 0;
    }
     .footer_logo a img {
         width: 25%;
         margin: 0 auto;
     }

    

     .btn_div ul li {
         margin: 10px 8px;
         width: 155px;
     }
     .footer_div p {
        font-size: 15px;
        text-align: center;
        margin-left: 0;
        padding-top: 0;
    }

 }

 /*Medium devices (tablets, 768px and up)*/
 @media (min-width: 768px) and (max-width: 991.98px) {
     .footer_div p {
         margin-left: -135px;
         margin-bottom: 0;
     }
     .btn_div {
        margin-bottom: 10px;
    }

 }

 /*Large devices (desktops, 992px and up)*/
 @media (min-width: 992px) and (max-width: 1199.98px) {

     .footer_div p {
         margin-left: -175px;
         margin-bottom: 0;
     }

 }

 /*Extra  large devices (large desktops, 1200px and up)*/
 @media (min-width: 1200px) and (max-width: 1399.98px) {}

 /*Extra extra large devices (large desktops, 1200px and up)*/
 @media (min-width: 1400px) {}
